body{
    background-color: #141b24;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

header {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-top: 20px;
    background-color:  #141b24 ;
    border: 3px solid #de404f;
}

h2{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0%;
    color: #ffffff;
    border-bottom: 2px solid #de404f;
    box-shadow: 0px -25px 40px -40px #ebe4e3 inset;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Style the logo */
.logo{
    display: flex;
    padding: 10px 20px 10px 20px;
}

nav {
    display: flex;
    list-style: none;
    padding: 10px 20px 10px 20px;
}

/* Style the navigation menu */
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #dedede;
    font-size: .8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    margin: auto;
}

nav a:hover {
    color: #FFFFFF;
}

.signin {
    margin-left: 35em;
    font-size: smaller;
}

table{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color:#141b24;
    color: #ffffff;
    border: 2px solid #de404f;
}

.tablea{
    text-decoration: none;
    color: #ffffff;
}

td{
    padding-right: 0px;
    width: 184px;
    font-size: large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3f212b;  
}

th{
    padding-left: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    text-align:left;
}

.hero-container {
    box-shadow: 0px -20px 40px -40px #ebe4e3 inset;
    border-bottom: 2px solid #de404f;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

footer {
    height: 40px;
    padding: 20px 20px;
    border-top: 3px solid #de404f;
    color: #ebe4e3;
    margin-top: 30px;
    box-shadow: 0px 25px 40px -40px #ebe4e3 inset;
    text-align: center;
}

tr:hover {
    
    opacity: 0.5;
}