body{
    background-color: #141b24;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

header {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-top: 20px;
    background-color:  #141b24 ;
    border: 3px solid #de404f;
}


nav  {
    list-style: none;
    padding: 5px 10px;
}

nav a {
    color: #dadada;
    font-size: .8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    margin: auto;
}

nav a:hover {
    color: #FFFFFF;
}

.logo{
    display: flex;
    padding: 10px 20px 10px 20px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

main {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0px;
    margin-right: 0px;
}

.signin {
    margin-left: 35em;
    font-size: smaller;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 1.3em;
    text-align: center;
}

.top-about {
    background-image: url(images/red_black_abstract_496_1600x900.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 115px;
    padding-bottom: 185px;
    padding-left: 160px;
    padding-right: 160px;
    box-shadow: 0px -40px 30px #141b24 inset;
}

footer{
    height: 40px;
    padding: 20px 20px;
    border-top: 3px solid #de404f;
    color: #ebe4e3;
    margin-top: 30px;
    box-shadow: 0px 25px 40px -40px #ebe4e3 inset;
    text-align: center;
}